<h2><%= @employee.name %></h2>

<p><%= @employee.inspect %></p>

<%= form_for [@employee, TimeEntry.new] do |f| %>
  <%= f.label :customer %>
  <%= f.collection_select(:customer_id, Customer.all, :id, :name) %>
  <%= f.label :time %>
  <%= f.number_field :time %>
  <%= f.submit %>
<% end %>

<% @employee.time_entries.each do |entry| %>
<table>
  <tr>
    <td><%= entry.time %></td>
    <td><%= link_to entry.customer.name, entry.customer %></td>
    <td><%= entry.created_at %></td>
  </tr>
</table>
<% end %>