<h2><%= @customer.name %></h2>

<p>Total Time</p><p><%= @customer.time_entries.sum(:time) %></p>
<p>Total Cost</p><p><%= (@customer.time_entries.map &:cost).sum %></p>

<p><%= @customer.inspect %></p>

<table>
  <% @customer.time_entries.each do |entry| %>
  <tr>
    <td><%= entry.time %></td>
    <td><%= link_to entry.employee.name, entry.employee %></td>
    <td><%= entry.created_at %></td>
  </tr>
  <% end %>
</table>